<%
  props = {
    interactiveModulesUrl:  admin_interactive_modules_url,
  }
%>

<%= javascript_pack_tag 'interactive_modules_editor' %>
<div id="interactiveModulesEditor" data-props="<%= props.to_json %>"></div>
