<%
  javascript_url = @interactive_module.javascript.url + '/' + @interactive_module.javascript_identifier
  stylesheet_url = @interactive_module.stylesheet.url + '/' + @interactive_module.stylesheet_identifier
%>

<script src="<%= javascript_url %>" charset="utf-8"></script>
<link rel="stylesheet" href="<%= stylesheet_url %>">

<div class="interactive_module"></div>
