<%
  props = {
    updateLessonUrl: admin_lesson_url(@lesson),
    name: @lesson.name,
    description: @lesson.description,
    elementsUrl: admin_lesson_lesson_elements_url(@lesson),
    createElementUrl: admin_lesson_lesson_elements_url(@lesson),
    updateElementUrl: admin_lesson_lesson_elements_url(@lesson)
  }
%>

<%= javascript_pack_tag 'lesson_editor' %>
<div id="editor" data-props="<%= props.to_json %>"></div>
