<%
  props = {
    lessonsUrl: admin_lessons_url,
    newLessonUrl: new_admin_lesson_url
  }
%>

<%= javascript_pack_tag 'lessons_editor' %>
<div id="lessonsEditor" data-props="<%= props.to_json %>"></div>
