.Button {
  width: 26px;
  height: 26px;
  padding: 4px 4px;
  font-size: 14px;
  text-align: center;
  text-transform: capitalize;
  background-color: var(--white);
  color: var(--black);
  cursor: pointer;

  &:hover {
    background-color: var(--white);
    filter: brightness(90%);
  }
}
