.ButtonSet {
  font-size: 13px;
  color: #000;
  font-weight: 400;

  .ToggleButton {
    width: 80px;
    height: 24px;
    background-color: #c8c8c8;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;

    &.active {
      font-weight: 700;
      background-color: #79ff39;
      color: #000;
    }

    &.active:hover {
      background-color: #79ff39;
      cursor: default;
    }
  }

  .ToggleButton:hover {
    background-color: #9f9f9f;
    cursor: pointer;
  }

  .ButtonSetWrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 138px;
    width: 80px;
  }
}
