.Knob {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  h3 {
    // position: relative;
    // top: 30px;
    font-weight: 600;
    margin-bottom: 9px;
  }

  .wrapper {
    position: relative;
    width: 136px;
    height: 102px;
    margin-bottom: 14px;
    user-select: none;

    .body {
      position: absolute;
      left: 41px;
      top: 30px;

      div {
        position: absolute;
        top: 0;
        left: 0;
        width: 54px;
        height: 54px;
        background: #000;
        border-radius: 50px;
        z-index: 1;

        &:hover {
          filter: brightness(90%);
          cursor: pointer;
        }

        &::before {
          position: absolute;
          top: 0;
          left: 25px;
          display: block;
          content: "";
          width: 4px;
          height: 20px;
          background: var(--dark-green);
        }
      }
    }

    .value {
      position: absolute;
      top: 55px;
      width: 100%;
      text-align: center;
      font-family: sans-serif;
      font-size: 12px;
    }

    .bullet {
      width: 2px;
      height: 10px;
      background-color: #000;
    }

    .group {
      position: absolute;
      height: 86px;
      width: 2px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }

    #group1 {
      transform: rotate(90deg);
      left: 67px;
      top: 14px;
    }

    #group2 {
      transform: rotate(45deg);
      left: 67px;
      top: 14px;
    }

    #group3 {
      left: 67px;
      top: 14px;
      transform: rotate(-45deg);
    }

    .lastBullet {
      width: 2px;
      height: 10px;
      left: 67px;
      top: 13px;
      background-color: #000;
      position: absolute;
    }

    .name {
      position: absolute;
      // top: 14px;
      // left: 15px;
      width: 150px;
      height: 20px;
      font-size: 16px;
      font-weight: 400;
      text-align: center;
    }

    .value {
      position: absolute;
      display: flex;
      width: 22px;
      height: 13px;
      font-size: 10px;
      font-weight: 400;
    }

    #value7 {
      top: 88px;
      left: 15px;

      align-items: center;
      flex-direction: row;
      justify-content: flex-end;
      text-align: right;
    }

    #value9 {
      top: 51px;

      align-items: center;
      flex-direction: row;
      justify-content: flex-end;
      text-align: right;
    }

    #value11 {
      top: 14px;
      left: 14px;

      align-items: center;
      flex-direction: row;
      justify-content: flex-end;
      text-align: right;
    }

    #value12 {
      left: 57px;
      top: 0px;

      text-align: center;
      justify-content: center;
      align-items: center;
    }

    #value2 {
      top: 14px;
      right: 14px;

      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      text-align: left;
    }

    #value3 {
      top: 51px;
      right: 0;

      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      text-align: left;
    }

    #value5 {
      top: 88px;
      right: 15px;

      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      text-align: left;
    }
  }
}
