.select {
  margin-left: 10px;
  margin-top: 10px;
  .ToggleButton {
    background-color: #e1e1e1;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 500;
    width: 120px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ToggleButton:hover {
    background-color: #9f9f9f;
    cursor: pointer;
  }

  .selectCurrent {
    height: 28px;
    width: 28px;
    background-image: image-url('AddIcon.svg');
  }
}
