.SequencerRow {
  display: flex;

  .ToggleButton {
    width: 15%;
    height: 40px;
    line-height: 40px;
    font-size: 0;
    border: 1px solid black;
  }
}

.SequencerModule {
  .ToneSynth {
    display: none;
  }
}
