.ToggleButton {
  // margin: 0 4px 4px 0;
  padding: 8px 10px;
  font-size: 14px;
  text-align: center;
  text-transform: capitalize;
  background-color: var(--white);
  color: var(--black);
  cursor: pointer;

  &:hover:not(.active) {
    background-color: var(--white);
    filter: brightness(90%);
  }

  &.active {
    font-weight: 800;
    color: var(--black);
    background-color: var(--dark-green);
    cursor: default;
  }
}
