<div class="Lessons FifthLesson">
  <div class="MenuBar">
    <div class="LeftMenubarPart">
      <div class="MenuButton"></div>
      <span>Пятый урок</span>
      <!-- <span>Баллы</span> -->
    </div>
    <div class="LogoMenubarContainer">
      <div class="LogoADC"></div>
    </div>
  </div>

  <div class="LessonHeader">
    <div class="LessonHeaderContainer">
      <div class="LessonName">
        <span>Пятый урок</span>
        <h1>Каналы, микширование и создание музыки</h1>
      </div>
      <div class="LessonDescription">
        <span>Описание</span>
        <h5>В этом уроке мы расскажем, как устроены каналы в Tone.js. Как объединять несколько сигналов в один микшер и управлять исходящим звуком. </h5>
      </div>
    </div>


      <div class="Divider"> </div>
  </div>

  <div class="NextLessonControl">
    <div class="NextLessonControlContainer">
      <%= link_to 'Previous lesson', @previous_lesson %>
      <%= link_to 'Next lesson', @next_lesson %>
    </div>
  </div>
</div>
