<p>Бла бла бла</p>
<p>Бла бла бла</p>
<p>Бла бла бла</p>

<div class="interactive_module_1">Empty</div>
<iframe src="<%= interactive_module_url(InteractiveModule.find(7)) %>" width="700" height="500"></iframe>

<%#= javascript_pack_tag "interactive_module_1" %>

<p>Бла бла бла</p>
<p>Бла бла бла</p>
<p>Бла бла бла</p>

<%#= javascript_pack_tag "interactive_module_2" %>
<div class="interactive_module_2"></div>

<p>Бла бла бла</p>
<p>Бла бла бла</p>
<p>Бла бла бла</p>

<%#= javascript_pack_tag "interactive_module_3" %>
<div class="interactive_module_3"></div>
