<p>Бла бла бла</p>
<p>Бла бла бла</p>
<p>Бла бла бла</p>

<%= javascript_pack_tag "interactive_module_1" %>
<div class="interactive_module_1"></div>

<p>Бла бла бла</p>
<p>Бла бла бла</p>
<p>Бла бла бла</p>

<%= javascript_pack_tag "interactive_module_2" %>
<div class="interactive_module_2"></div>

<p>Бла бла бла</p>
<p>Бла бла бла</p>
<p>Бла бла бла</p>

<%= javascript_pack_tag "interactive_module_3" %>
<div class="interactive_module_3"></div>
