<p>Бла бла бла</p>
<p>Бла бла бла</p>
<p>Бла бла бла</p>

<div class="support_module"></div>
<iframe src="<%= interactive_module_url(InteractiveModule.find(8)) %>" width="1000" height="800"></iframe>

<%#= javascript_pack_tag "interactive_module_1" %>

<p>Бла бла бла</p>
<p>Бла бла бла</p>
<p>Бла бла бла</p>

<%#= javascript_pack_tag "interactive_module_2" %>
<div class="interactive_module_2"></div>

<p>Бла бла бла</p>
<p>Бла бла бла</p>
<p>Бла бла бла</p>

<%#= javascript_pack_tag "interactive_module_3" %>
<div class="interactive_module_3"></div>
