.playButton {
  background-image: image-url('PlayStart.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 26px;
  height: 26px;

  &.on {
    background-image: image-url('PlayStop.svg');
  }
}

.GreenButton {
  background-color: #79ff39;
  width: 180px;
  height: 42px;
  font-weight: 700;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.GreenButton:hover {
  background-color: #4d8e2e;
  cursor: pointer;
}

.mainSequencerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.SuccessBlock {
  width: 220px;
  padding: 14px 10px 10px 14px;
  background-color: #000000;
  color: #fff;
  font-weight: 600;
}

.SynthMelodyModule {
  width: 600px;
}

.oscilatorContainer {
  background-color: var(--black);
  color: var(--white);
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 50px;
}

.moduleHeaderText {
  background-color: #000;
  height: 50px;
  width: 100%;
  color: #fff;
  align-items: center;
  justify-content: center;
  display: flex;
}

.mainContainer {
  width: 600px;
  display: flex;

  flex-direction: column;
  align-items: center;
}

.moduleHeaderButton {
  position: relative;
  background-color: #000;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.moduleHeaderButton span {
  color: #fff;
}

.moduleHeaderButton .headerButton {
  position: absolute;
  top: 12px;
  left: 12px;
}

.Arrow {
  background-image: image-url('Arrow.svg');
  height: 44px;
  width: 12px;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ArrowHorizontal {
  background-image: image-url('ArrowHoriz.svg');
  height: 12px;
  width: 44px;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 10px;
  margin-top: 18px;
  margin-right: 10px;
}
