.Viewer {
  width: 100vw;
  background: var(--background-grey);
  color: var(--text-grey);
  margin-top: 48px;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vw;

  .heading2,
  .heading3,
  .paragraph {
    width: 600px;
    margin: 0 auto;
  }

  .heading2,
  .heading3 {
    margin-top: 40px;
  }

  .paragraph {
    margin-top: 20px;
  }

  .heading2 + .paragraph {
    margin-top: 10px;
  }

  .heading3 + .paragraph {
    margin-top: 10px;
  }

  .paragraph + .heading2 {
    margin-top: 60px;
  }

  .paragraph + .heading3 {
    margin-top: 60px;
  }

  .InteractiveModule {
    width: 100vw;
    padding: 40px 0;
    background: var(--background-dark-grey);

    iframe {
      margin: 0 auto;
    }
  }
}

.PreviewContainer {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 14px;
  padding-bottom: 14px;
  display: flex;
  position: fixed;
  background-color: #ffffff;
  border-radius: 0px 0px 20px 0px;

  .PreviewHeader {
    font-size: 14px;
    color: var(--editor-dark-grey);
  }

  a {
    margin-left: 20px;
    color: var(--editor-active-blue);
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      color: var(--editor-hover-blue);
    }
  }
}

.CourseHeaderContainer {
  width: 600px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;

  h5 {
    font-size: 14px;
    font-weight: 700;
    color: #505050;
  }

  .NameContainer {
    width: 240px;

    div {
      margin-top: 4px;
      font-size: 27px;
      font-weight: 700;
      line-height: 38px;
    }
  }

  .DescriptionContainer {
    width: 320px;

    div {
      margin-top: 18px;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
    }
  }
}
