@font-face {
  font-family: 'PT Root UI';
  src: asset-url('PT_Root_UI_Bold') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'PT Root UI';
  src: asset-url('PT_Root_UI_Light') format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: 'PT Root UI';
  src: asset-url('PT_Root_UI_Medium') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'PT Root UI';
  src: asset-url('PT_Root_UI_Regular') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Circe';
  src: asset-url('Circe_Bold') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Circe';
  src: asset-url('Circe_Regular') format('truetype');
  font-weight: 400;
}
