:root {
  --editor-white: #ffffff;
  --editor-close-to-white: #fafafa;
  --editor-light-grey: #e1e4e8;
  --editor-grey: #b4b9c1;
  --editor-dark-grey: #606060;
  --editor-black: #000000;
  --editor-light-white: #f9fafc;
  --editor-sheep-white: #f4f6f6;
  --editor-pillow-blue: #bfc9d8;
  --editor-active-blue: #1380ff;
  --editor-hover-blue: #194fdc;
  --editor-active-red: #fa5045;
  --editor-hover-red: #c8362d;
}
