:root {
  --white: #ffffff;
  --black: #000000;
  --dark-grey: #262626;
  --medium-grey: #8d8d8d;
  --grey: #c5c5c5;
  --light-grey: #cfcfcf;
  --dark-green: #00ff29;
  --acid-green: #79ff39;
  --background-grey: #2d2d2d;
  --background-dark-grey: #232323;
  --text-grey: #e1e1e1;
}
