.Lessons {
  background-color: var(--background-grey);
  display: flex;
  align-items: center;
  flex-direction: column;

  .MenuBar {
    background-color: #000;
    color: #fff;
    height: 54px;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 20px;
    padding-right: 20px;

    .LogoMenubarContainer {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .LeftMenubarPart {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .MenuButton {
      width: 24px;
      height: 16px;
      background-image: image-url('MenuButton.svg');
    }

    span {
      height: 22px;
      // margin-top: 16px;
      // margin-left: 44px;
    }

    span:first-of-type {
      vertical-align: Center;
      font-size: 16px;
      font-weight: 700;
      margin-left: 20px;
    }

    span:last-of-type {
      vertical-align: Center;
      font-weight: 400;
      margin-left: 20px;
    }

    .LogoADC {
      width: 55px;
      height: 18px;
      background-image: image-url('LogoADC.svg');
    }
  }

  .LessonHeader {
    width: 600px;
    background-color: #2d2d2d;
    // padding-left: 420px;
    // padding-right: 420px;
    padding-top: 50px;

    .LessonHeaderContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 600px;
      margin-bottom: 32px;
      padding-top: 32px;
    }

    .LessonName {
      width: 240px;

      span {
        line-height: 16px;
        font-size: 14px;
        color: var(--medium-grey);
        font-weight: 600;
        margin-top: 4px;
      }

      h1 {
        line-height: 38px;
        margin-top: 6px;
        font-size: 27px;
        font-weight: 700;
        color: #fff;
      }
    }

    .LessonDescription {
      width: 320px;

      span {
        line-height: 16px;
        font-size: 14px;
        color: var(--medium-grey);

        font-weight: 600;
      }

      h5 {
        margin-top: 18px;
        line-height: 20px;
        font-size: 14px;
        color: #fff;
      }
    }

    .Divider {
      margin-top: 40px;
      height: 2px;
      background-color: #c4c4c4;
      border-radius: 100px;
    }
  }

  .BigHeaderBlock {
    padding-left: 420px;
    padding-top: 40px;
    padding-right: 420px;

    background-color: #2d2d2d;

    p {
      margin-top: 10px;
    }
  }

  h2 {
    font-size: 27px;
    color: #fff;
    line-height: 38px;
    font-weight: 700;
    width: 600px;
    margin-top: 40px;
  }

  h3 {
    font-size: 24px;
    color: #fff;
    line-height: 36px;
    font-weight: 700;
    width: 600px;
    margin-top: 30px;
  }

  h4 {
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    font-weight: 700;
    width: 600px;
    margin-top: 22px;
  }

  p {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    line-height: 28px;
    width: 600px;
    margin-top: 14px;
  }

  a {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    line-height: 28px;
    width: 600px;
    margin-top: 14px;
  }

  .InteractiveBlock {
    background-color: var(--background-grey);

    margin-top: 40px;
    margin-bottom: 40px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .InteractiveBlockSequencer {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .InteractiveBlockChaning {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .InteractiveBlockMakeSequence {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    iframe {
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  .NextLessonControl {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .NextLessonControlContainer {
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;

    a {
      font-size: 12px;
      line-height: 16px;
      padding: 16px 40px 16px 40px;
      background-color: var(--light-grey);
      border-radius: 6px;
      color: var(--dark-grey);
      text-decoration: none;
      font-weight: 600;
      width: auto;
      margin-top: 0px;
    }

    a:hover {
      background-color: #a9a9a9;
      cursor: ponter;
    }
  }

  .SynthModules {
    background-color: #232323;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .InteractiveBlock {
      width: 100%;
      margin-top: 0px;
      padding-top: 0px;
    }

    .InteractiveDescription {
      width: 600px;

      h4 {
        margin-top: 40px;
        margin-bottom: 10px;
      }

      div {
        margin-bottom: 40px;
        color: #fff;
        font-size: 18px;
        font-weight: 400;
      }
    }
  }
}
