.SecondLesson {
  background-color: #2d2d2d;

  .MenuBar {
    background-color: #000;
    color: #fff;
    height: 54px;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 20px;
    padding-right: 20px;

    .LogoMenubarContainer {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .LeftMenubarPart {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .MenuButton {
      width: 24px;
      height: 16px;
      background-image: image-url('MenuButton.svg');
    }

    span {
      height: 22px;
      // margin-top: 16px;
      // margin-left: 44px;
    }

    span:first-of-type {
      vertical-align: Center;
      font-size: 16px;
      font-weight: 700;
      margin-left: 20px;
    }

    span:last-of-type {
      vertical-align: Center;
      font-weight: 400;
      margin-left: 20px;
    }

    .LogoADC {
      width: 55px;
      height: 18px;
      background-image: image-url('LogoADC.svg');
    }
  }

  .LessonHeader {
    width: 100%;
    background-color: #2d2d2d;
    padding-left: 420px;
    padding-right: 420px;
    padding-top: 94px;

    .LessonHeaderContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 600px;
    }

    .LessonName {
      width: 240px;

      span {
        line-height: 16px;
        font-size: 12px;
        color: #868686;
        font-weight: 600;
      }

      h1 {
        line-height: 30px;
        margin-top: 6px;
        font-size: 24px;
        color: #fff;
      }
    }

    .LessonDescription {
      width: 320px;

      span {
        line-height: 16px;
        font-size: 12px;
        color: #868686;
        font-weight: 600;
      }

      h5 {
        line-height: 21px;
        font-size: 14px;
        color: #fff;
      }
    }

    .Divider {
      margin-top: 40px;
      height: 2px;
      background-color: #c4c4c4;
      border-radius: 100px;
    }
  }

  .BigHeaderBlock {
    padding-left: 420px;
    padding-top: 40px;
    padding-bottom: 20px;
    padding-right: 420px;

    background-color: #2d2d2d;

    p {
      margin-top: 10px;
    }
  }

  h2 {
    font-size: 24px;
    color: #fff;
    line-height: 33px;
    font-weight: 700;
  }

  h1 {
    font-size: 20px;
    color: #fff;
    line-height: 33px;
    font-weight: 700;
  }

  p {
    font-size: 18px;
    font-weight: 400;

    color: #fff;
    line-height: 28px;
  }

  h4 {
    font-size: 20px;
    color: #fff;
    font-weight: 700;
  }

  .MediumHeaderBlock {
    padding-left: 420px;
    padding-top: 40px;
    padding-bottom: 20px;
    padding-right: 420px;

    background-color: #2d2d2d;
  }

  .InteractiveBlock {
    background-color: #232323;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .InteractiveBlockSequencer {
    background-color: #232323;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .SepparatorCodeModule {
    margin-top: 40px;
  }

  .InteractiveBlockSampler {
    background-color: #232323;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .SupportContainer {
      width: 600px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      margin-bottom: 40px;

      .SupportHeader {
        width: 320px;
      }

      .SuccessBlock {
        border-radius: 12px;
        font-weight: 500;
        padding: 16px 20px 16px 20px;
        color: #79ff39;
      }

      h3 {
        font-size: 20px;
        color: #fff;
        font-weight: 700;
        margin-bottom: 20px;
      }

      span {
        color: #757575;
        font-size: 14px;
        font-weight: 500;
        height: 20px;
      }

      p {
        margin-top: 8px;
        font-size: 18px;
      }
    }
  }

  .NextLessonControl {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .NextLessonControlContainer {
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;

    a {
      padding: 16px 40px 16px 40px;
      background-color: #e1e1e1;
      border-radius: 6px;
      color: #000;
      text-decoration: none;
      font-weight: 600;
    }

    a:hover {
      background-color: #a9a9a9;
      cursor: ponter;
    }
  }

  .SynthModules {
    background-color: #232323;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .InteractiveBlock {
      width: 100%;
      margin-top: 0px;
      padding-top: 0px;
    }

    .InteractiveDescription {
      width: 600px;

      h4 {
        margin-top: 40px;
        margin-bottom: 10px;
      }

      div {
        margin-bottom: 40px;
        color: #fff;
        font-size: 18px;
        font-weight: 400;
      }
    }
  }
}
