.Main {
  background-color: #2d2d2d;
}

.MenuBar {
  background-color: #000;
  color: #fff;
  height: 54px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;

  .LogoMenubarContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .LeftMenubarPart {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .MenuButton {
    width: 24px;
    height: 16px;
    background-image: image-url('MenuButton.svg');
  }

  span {
    height: 22px;
    // margin-top: 16px;
    // margin-left: 44px;
  }

  span:first-of-type {
    vertical-align: Center;
    font-size: 16px;
    font-weight: 700;
    margin-left: 20px;
  }

  span:last-of-type {
    vertical-align: Center;
    font-weight: 400;
    margin-left: 20px;
  }

  .LogoADC {
    width: 55px;
    height: 18px;
    background-image: image-url('LogoADC.svg');
  }
}

.LessonHeader {
  width: 100%;
  background-color: #2d2d2d;
  padding-left: 420px;
  padding-right: 420px;
  padding-top: 40px;

  .LessonHeaderContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
  }

  .LessonName {
    width: 240px;

    span {
      line-height: 16px;
      font-size: 12px;
      color: #868686;
      font-weight: 600;
    }

    h1 {
      line-height: 30px;
      margin-top: 6px;
      font-size: 24px;
      color: #fff;
    }
  }

  .LessonDescription {
    width: 320px;

    span {
      line-height: 16px;
      font-size: 12px;
      color: #868686;
      font-weight: 600;
    }

    h5 {
      line-height: 21px;
      font-size: 14px;
      color: #fff;
    }
  }

  .Divider {
    margin-top: 40px;
    height: 2px;
    background-color: #c4c4c4;
    border-radius: 100px;
  }
}

.BigHeaderBlock {
  padding-left: 420px;
  padding-top: 40px;
  padding-bottom: 20px;
  padding-right: 420px;

  background-color: #2d2d2d;

  p {
    margin-top: 10px;
  }
}

h2 {
  font-size: 24px;
  color: #fff;
  line-height: 33px;
  font-weight: 700;
}

h3 {
  font-size: 20px;
  color: #fff;
  line-height: 33px;
  font-weight: 700;
}

p {
  font-size: 18px;
  font-weight: 400;

  color: #fff;
  line-height: 28px;
}

.MediumHeaderBlock {
  padding-left: 420px;
  padding-top: 40px;
  padding-bottom: 20px;
  padding-right: 420px;

  background-color: #2d2d2d;
}

.InteractiveBlock {
  background-color: #232323;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
}
