.interactive_module_13 {
  display: flex;
  flex-direction: column;
  align-items: center;
  .mainSequencerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1185px;
  }
}
