.interactive_module_body_1 {
  //
}

.interactive_module_1 {
  .mainContainer {
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }

  .trigerContainer {
    width: 600px;
  }

  .trigerHeaderContainer {
    background-color: var(--black);
    color: var(--white);
    height: 50px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;
  }

  .trigerBodyContainer {
    background-color: #e1e1e1;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
    padding: 20px 20px 20px 20px;

    .wrapper {
      display: flex;
      flex-direction: row;
      height: 25px;
    }

    h4 {
      font-weight: 700;
      margin-left: 8px;
    }
  }

  .trigerButton {
    background-image: image-url('play_button.svg');
    background-position: center;
    background-repeat: no-repeat;
    width: 26px;
    height: 26px;
  }
}
