.interactive_module_15 {
  display: flex;
  justify-content: center;

  .TopButtonContainer {
    display: flex;
    flex-direction: row;

    .GreenButton:last-of-type {
      margin-left: 20px;
    }
  }

  .LowButtonContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: row;

    .GreenButton:last-of-type {
      margin-left: 20px;
    }
  }

  .GreenButton {
    background-color: #79ff39;
    width: auto;
    height: auto;
    padding: 9px 20px 9px 20px;
    font-weight: 700;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .GreenButton:hover {
    background-color: #4d8e2e;
    cursor: pointer;
  }

  .SynthContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ButtonContainer {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 40px;
  }
}
