.interactive_module_9 {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  .mainSequencerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flexBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
  }
  .moduleWidth {
    width: 100%;
  }

  .ToneSynth {
    display: none;
  }

  .InteractiveBlocks {
    width: auto;

    .Row {
      display: flex;
      flex-direction: row;
    }
  }

  .addEffectContainer {
    display: flex;
    flex-direction: row;
  }
}
