.interactive_module_7 {
  .mainSequencerContainer {
    display: block;
  }

  .flexBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .moduleWidth {
    width: 600px;
  }

  .ToneSynth {
    display: none;
  }

  .InteractiveBlocks {
    width: auto;

    .Row {
      display: flex;
      flex-direction: row;
    }
  }

  .addEffectContainer {
    display: flex;
    flex-direction: row;
  }
}
