.interactive_module_23 {
  display: flex;
  justify-content: center;
  align-items: center;

  .keyboardContainer {
    display: flex;
    height: 180px;

    .whiteContainer {
      width: 600px;
      display: flex;
    }
  }

  .SynthContainer {
    width: 600px;
  }

  #WhitePianoKey0,
  #WhitePianoKey2,
  #WhitePianoKey4,
  #WhitePianoKey5,
  #WhitePianoKey7,
  #WhitePianoKey9,
  #WhitePianoKey11 {
    background: #e1e1e1;
    z-index: 1;
    border: 0.5px solid #505050;
    width: 16.6%;
    user-select: none;
    padding-bottom: 20px;

    display: flex;
    align-items: flex-end;
    justify-content: center;

    &.on {
      background-color: #79fd38;
    }
  }

  #BlackPianoKey1,
  #BlackPianoKey3,
  #BlackPianoKey6,
  #BlackPianoKey8,
  #BlackPianoKey10 {
    background: #505050;
    z-index: 1;
    border: 0.5px solid #505050;
    width: 52px;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;

    padding-bottom: 10px;

    display: flex;
    align-items: flex-end;
    justify-content: center;

    &.on {
      background-color: #79fd38;
    }
  }
}
