.interactive_module_20 {
  .SynthMelodyModule {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .sliderLargeContainer .Slider {
    width: 400px;
  }

  .synthModule {
    width: 600px;
  }

  .synthModuleSettings {
  }

  .synthModuleSettingsContainer {
    display: flex;
  }

  .synthModuleSettingsContainerADSR {
    background-color: #e1e1e1;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

    border-top-width: 0.5px;
    border-top-style: solid;
    border-color: #999999;

    border-left-width: 0.5px;
    border-left-style: solid;
    border-color: #999999;
  }

  .synthModuleSettingsContainerBlock {
    border-left-width: 0.5px;
    border-left-style: solid;
    border-color: #999999;

    height: 188px;

    .sliderLargeContainer:first-of-type {
      border-bottom-width: 0.5px;
      border-bottom-style: solid;
      border-color: #999999;
    }

    .sliderLargeContainer:last-of-type {
      border-top-width: 0.5px;
      border-top-style: solid;
      border-color: #999999;

      border-bottom-width: 0.5px;
      border-bottom-style: solid;
      border-color: #999999;
    }
  }

  .synthModuleSettingsContainerADSR .ADSRSlider {
    margin-bottom: 32px;
  }

  .synthModuleSettingsContainerADSR .ADSRSlider:last-of-type {
    margin-bottom: 0px;
  }

  .sliderLargeContainer {
    background-color: #e1e1e1;

    height: 94px;
    width: 440px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .knobContainerDetune {
    width: 160px;
    height: 188px;

    background-color: #e1e1e1;

    border-bottom-width: 0.5px;
    border-bottom-style: solid;
    border-color: #999999;

    border-right-width: 0.5px;
    border-right-style: solid;
    border-color: #999999;

    justify-content: center;
    align-items: center;
    display: flex;
  }

  .knobContainerPortamento {
    background-color: #e1e1e1;

    border-top-width: 0.5px;
    border-top-style: solid;
    border-color: #999999;

    border-right-width: 0.5px;
    border-right-style: solid;
    border-color: #999999;

    width: 160px;
    height: 272px;

    justify-content: center;
    align-items: center;
    display: flex;
  }

  .sliderLargeContainerDisabled {
    display: none;
  }

  .sliderLargeContainerDisabled {
    display: none;
  }

  .knobContainerPortamentoDisabled {
    display: none;
  }
  .synthModuleSettingsContainerADSRDisabled {
    display: none;
  }
}

// .interactive_module_17 {
//   .mainContainer {
//     width: 100%;
//     display: flex;
//     text-align: center;
//     align-items: center;
//     flex-direction: column;
//   }
//
//   .trigerContainer {
//     width: 600px;
//   }
//
//   .trigerHeaderContainer {
//     background-color: var(--black);
//     color: var(--white);
//     height: 50px;
//     display: flex;
//     text-align: center;
//     justify-content: space-between;
//     align-items: center;
//     padding-left: 12px;
//     padding-right: 12px;
//   }
//
//   .trigerBodyContainer {
//     background-color: #e1e1e1;
//     height: 100px;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     font-size: 18px;
//     padding: 20px 20px 20px 20px;
//
//     .wrapper {
//       display: flex;
//       flex-direction: row;
//       height: 25px;
//     }
//
//     h4 {
//       font-weight: 700;
//       margin-left: 8px;
//     }
//   }
//
//   .trigerButton {
//     background-image: image-url('play_button.svg');
//     background-position: center;
//     background-repeat: no-repeat;
//     width: 26px;
//     height: 26px;
//   }
// }
