.interactive_module_10 {
  display: flex;
  justify-content: center;
  align-items: center;

  .ButtonContainer {
    display: flex;

    .TopButtonContainer {
      display: flex;
    }
    .LowButtonContainer {
      display: flex;
      margin-left: 22px;
    }
  }

  .GreenButton {
    margin-left: 22px;
  }

  .GreenButton:first-of-type {
    margin-left: 0px;
  }
}
