<footer>
  <div class="FooterContainer">
    <ul>
      <li>Уроки</li>
      <li><a href="#">Синтез звука</a></li>
      <li><a href="#">Время и ноты </a></li>
      <li><a href="#">Инструменты в тоне</a></li>
      <li><a href="#">Звуковые эффекты</a></li>
      <li><a href="#">Каналы, микширование и создание музыки</a></li>
    </ul>

    <div class="LoodoPromoteContainer">
      <div class="BubblesFutter"> </div>
      <div class="DescriptionContainer">
        <div class="HeadingContainer">
          <h5>Сделано на платформе</h5>
          <div class="LoodoWhiteIcon"></div>
        </div>
        <p>Поможем сделать крутой онлайн-курс!</p>
    </div>
     <a href=<%=admin_lessons_path%>>Свяжитесь с нами</a>
    </div>

    <div class="BottomContainer">
      <div class="UsefullLinksContainer">
        <a href="#">Почта</a>
        <a href="#">GitHub</a>
        <a href="#">Instagram</a>
      </div>
      <span>2022</span>
    </div>
  </div>
</footer>
