// .AddButton {
//   * {
//     display: none;
//   }
//
//   &::before {
//     display: block;
//     content: '+';
//   }
//
//   &:hover {
//     * {
//       display: block;
//     }
//   }
// }

.AddButton {
  margin-top: 40px;
  margin-left: 370px;

  div {
    width: 200px;
    background-color: #ebf0f4;

    padding-left: 16px;
    padding-top: 18px;
    padding-bottom: 18px;

    color: #606060;
    font-weight: bold;

    border-radius: 6px;

    margin-bottom: 14px;
  }

  div:hover {
    background-color: #d8e2ec;
    cursor: pointer;
  }

  .heading1 {
  }

  .heading2 {
  }

  .heading3 {
  }
  .paragraph {
  }
  .interactiveModule {
  }
}
