.AddButtonContainer {
  width: 700px;

  .AddButton {
    width: 300px;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0px 4px 11px 0px #0000001f;

    .AddButtonsContainer {
      margin-top: 20px;
      .ButtonsContainer {
        margin-top: 12px;
        .AddModuleButton {
          margin-top: 6px;
        }
        .AddModuleButton:first-of-type {
          margin-top: 0px;
        }
      }

      span {
        font-size: 16px;
        color: #606060;
        line-height: 12px;
        margin-bottom: 12px;
      }
    }

    .AddButtonsContainer:first-of-type {
      margin-top: 0px;
    }

    // &::before {
    //   display: block;
    //   content: '+ Добавить модуль';
    //   font-size: 18px;
    //   margin-top: 16px;
    //   color: #1380ff;
    //   font-weight: 700;
    // }
  }
}
