.AddNewEditableElement {
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;

  .EditableElementContainer {
    width: 220px;
  }

  .ModuleSettings {
    opacity: 0;
    transition: opacity 0.3s;

    margin-top: 14px;
    display: flex;
    justify-content: space-between;
  }

  &:hover {
    cursor: text;

    .ModuleSettings {
      opacity: 1;
      display: flex;

      .IconButtonContainer {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  .Input {
    width: 600px;
    outline: none;
    border: none;
    line-height: 28px;
    font-size: 18px;
    padding-top: 10px;
  }

  .CompositionBlock {
    width: 46px;
  }
}
