.EditableElement {
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .EditableElementContainer {
    width: 220px;
  }

  .ModuleSettings {
    opacity: 0;
    transition: opacity 0.3s;
  }

  &:hover {
    background-color: #f9fafc;
    cursor: pointer;

    .ModuleSettings {
      opacity: 1;
      display: flex;

      .IconButtonContainer {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  &.editing {
    background-color: #f4f6f6;
  }

  .Input {
    width: 600px;
    outline: none;
  }

  &.heading1,
  &.heading2,
  &.heading3 {
    font-weight: bold;
  }

  &.heading1 {
    line-height: 27px;

    font-size: 27px;
    padding-top: 40px;
    line-height: 38px;
  }

  &.heading2 {
    line-height: 34px;

    font-size: 24px;
    padding-top: 30px;
  }

  &.heading3 {
    line-height: 24px;

    font-size: 20px;
    padding-top: 22px;
  }

  &.paragraph {
    line-height: 28px;
    font-size: 18px;
    padding-top: 10px;
  }
}
