.Element {
  &.heading1,
  &.heading2,
  &.heading3 {
    font-weight: bold;
  }

  &.heading1 {
    line-height: 27px;

    font-size: 40px;
    padding-top: 34px;
    padding-bottom: 6px;
    line-height: 27px;
  }

  &.heading2 {
    line-height: 27px;

    font-size: 30px;
    padding-top: 24px;
    padding-bottom: 6px;
  }

  &.heading3 {
    line-height: 27px;

    font-size: 20px;
    padding-top: 16px;
    padding-bottom: 6px;
  }

  &.paragraph {
    line-height: 27px;
    font-size: 18px;
    padding-top: 6px;
    padding-bottom: 6px;
  }
}
