.LessonsEditor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 48px;

  .LessonsEditorHeading {
    font-size: 32px;
    font-weight: 700;
    width: 700px;
    margin-top: 20px;
  }

  .AddLessonContainer {
    width: 700px;
    margin-top: 18px;
  }

  .AddLesson {
    color: var(--editor-active-blue);
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;

    &:hover {
      color: var(--editor-hover-blue);
    }
  }
}
